<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="CAD_Prototype_1_flipped_root_URDF_meshed">
  <link
    name="fuselage">
    <inertial>
      <origin
        xyz="-0.021762 -2.6674E-06 -0.0047691"
        rpy="0 0 0" />
      <mass
        value="0.064126" />
      <inertia
        ixx="2.313E-06"
        ixy="-1.0854E-08"
        ixz="5.7289E-08"
        iyy="0.00021013"
        iyz="-1.934E-09"
        izz="0.00021122" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://meshes/fuselage.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://meshes/fuselage.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="horizontal_tail_fixed">
    <inertial>
      <origin
        xyz="-0.37292 1.2751E-15 0.00155"
        rpy="0 0 0" />
      <mass
        value="0.0021828" />
      <inertia
        ixx="5.9805E-06"
        ixy="-1.9375E-20"
        ixz="-1.6586E-21"
        iyy="4.8949E-07"
        iyz="-1.2008E-21"
        izz="6.4642E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://meshes/horizontal_tail_fixed.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://meshes/horizontal_tail_fixed.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_horizontal_tail_fixed"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="fuselage" />
    <child
      link="horizontal_tail_fixed" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="elevator_hinged">
    <inertial>
      <origin
        xyz="-0.02816 -0.0012803 -0.00018019"
        rpy="0 0 0" />
      <mass
        value="0.0031868" />
      <inertia
        ixx="9.4547E-06"
        ixy="1.6943E-21"
        ixz="-3.5065E-08"
        iyy="8.4348E-07"
        iyz="-9.2935E-22"
        izz="1.0269E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://meshes/elevator_hinged.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://meshes/elevator_hinged.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_elevator_hinged"
    type="revolute">
    <origin
      xyz="-0.39899772195773 0 -0.000545430496194116"
      rpy="0 0 0" />
    <parent
      link="horizontal_tail_fixed" />
    <child
      link="elevator_hinged" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-0.5"
      upper="0.5"
      effort="1.0"
      velocity="3.665191429" />
  </joint>
  <link
    name="vertical_tail_fixed">
    <inertial>
      <origin
        xyz="-0.37659 2.5E-05 0.046776"
        rpy="0 0 0" />
      <mass
        value="0.0011935" />
      <inertia
        ixx="1.1213E-06"
        ixy="7.519E-22"
        ixz="1.969E-07"
        iyy="1.3361E-06"
        iyz="-6.4044E-22"
        izz="2.1797E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://meshes/vertical_tail_fixed.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://meshes/vertical_tail_fixed.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_vertical_tail_fixed"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="fuselage" />
    <child
      link="vertical_tail_fixed" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="rudder_hinged">
    <inertial>
      <origin
        xyz="-0.035584 0.0029847 0.011218"
        rpy="0 0 0" />
      <mass
        value="0.0025864" />
      <inertia
        ixx="1.6338E-06"
        ixy="2.641E-10"
        ixz="5.4249E-07"
        iyy="3.2864E-06"
        iyz="-5.4779E-10"
        izz="1.6767E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://meshes/rudder_hinged.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://meshes/rudder_hinged.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_rudder_hinged"
    type="revolute">
    <origin
      xyz="-0.402 -0.0019749999999986 0.0635500000000013"
      rpy="0 0 0" />
    <parent
      link="vertical_tail_fixed" />
    <child
      link="rudder_hinged" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-0.5"
      upper="0.5"
      effort="1.0"
      velocity="3.665191429" />
  </joint>
  <link
    name="root_wing_fixed">
    <inertial>
      <origin
        xyz="-0.064062 -0.00011236 -0.0031017"
        rpy="0 0 0" />
      <mass
        value="0.036045" />
      <inertia
        ixx="5.1344E-05"
        ixy="2.6256E-07"
        ixz="6.4042E-08"
        iyy="2.9378E-05"
        iyz="-7.7245E-10"
        izz="7.8409E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://meshes/root_wing_fixed.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://meshes/root_wing_fixed.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_root_wing_fixed"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="fuselage" />
    <child
      link="root_wing_fixed" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="left_outer_wing_hinged">
    <inertial>
      <origin
        xyz="-0.04542 0.046938 -1.0524E-05"
        rpy="0 0 0" />
      <mass
        value="0.0055726" />
      <inertia
        ixx="9.7927E-06"
        ixy="-3.9369E-06"
        ixz="3.2981E-14"
        iyy="7.894E-06"
        iyz="5.9136E-14"
        izz="1.7673E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://meshes/left_outer_wing_hinged.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://meshes/left_outer_wing_hinged.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_left_outer_wing_hinged"
    type="revolute">
    <origin
      xyz="-0.0144999999999965 0.1735 0"
      rpy="0 0 0" />
    <parent
      link="root_wing_fixed" />
    <child
      link="left_outer_wing_hinged" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.4"
      upper="0.2"
      effort="1.5"
      velocity="3.665191429" />
  </joint>
  <link
    name="right_outer_wing_hinged">
    <inertial>
      <origin
        xyz="-0.04542 -0.046938 1.0524E-05"
        rpy="0 0 0" />
      <mass
        value="0.0055726" />
      <inertia
        ixx="9.7927E-06"
        ixy="3.9369E-06"
        ixz="-3.298E-14"
        iyy="7.894E-06"
        iyz="5.9136E-14"
        izz="1.7673E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://meshes/right_outer_wing_hinged.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://meshes/right_outer_wing_hinged.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_right_outer_wing_hinged"
    type="revolute">
    <origin
      xyz="-0.0145000000000005 -0.173499999999995 0"
      rpy="0 0 0" />
    <parent
      link="root_wing_fixed" />
    <child
      link="right_outer_wing_hinged" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.4"
      upper="0.2"
      effort="1.5"
      velocity="3.665191429" />
  </joint>
  <link
    name="propeller_fixed">
    <inertial>
      <origin
        xyz="0.12734 -1.9995E-05 -0.00627"
        rpy="0 0 0" />
      <mass
        value="0.0028325" />
      <inertia
        ixx="2.373E-06"
        ixy="6.3356E-14"
        ixz="-2.0682E-13"
        iyy="2.3385E-06"
        iyz="2.3412E-08"
        izz="5.3486E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://meshes/propeller_fixed.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://meshes/propeller_fixed.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_propeller_fixed"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="fuselage" />
    <child
      link="propeller_fixed" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>
