<?xml version='1.0' encoding='utf-8'?>
<robot name="drone_param">
  <material name="grey">
    <color rgba="0.7 0.7 0.7 1.0" />
    </material>
  <material name="red">
    <color rgba="0.7 0.0 0.0 1.0" />
    </material>
  <material name="black">
    <color rgba="0.2 0.2 0.2 1.0" />
    </material>
  <link name="root_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
      </inertial>
    </link>
  <link name="fuselage">
    <inertial>
      <origin xyz="-0.223467139245 0 -0.04" rpy="0 0 0" />
      <mass value="0.351031" />
      <inertia ixx="0.001334" ixy="0" ixz="0" iyy="0.00148532" iyz="0" izz="0.000366379" />
      </inertial>
    <collision name="fuselage_collision_0">
      <origin xyz="-0.241081611814 0 0.00245565348607" rpy="-1.5898372930676048 6.123233995736766e-17 -1.5707963267948968" />
      <geometry>
        <box size="0.1 0.104768037946 0.482163223629" />
        </geometry>
      </collision>
    <visual name="fuselage_visual_0">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://meshes/fuselage_only.stl" scale="0.000642982 0.001 0.001" />
        </geometry>
      <material name="grey" />
      </visual>
    </link>
  <joint name="fixed_joint_base_fuselage" type="fixed">
    <parent link="root_link" />
    <child link="fuselage" />
    <origin xyz="0 0 0" rpy="3.141592653589793 0 0" />
    </joint>
  <joint name="fixed_joint_aero_frame_fuselage" type="fixed">
    <parent link="fuselage" />
    <child link="aero_frame_fuselage" />
    <origin xyz="-0.223467139245 0 -0.03" rpy="0 3.141592653589793 0" />
    </joint>
  <link name="aero_frame_fuselage">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
      </inertial>
    </link>
  <joint name="fixed_joint_prop_frame_fuselage_0" type="fixed">
    <parent link="fuselage" />
    <child link="prop_frame_fuselage_0" />
    <origin xyz="0 0 0" rpy="3.141592653589793 -1.5707963267948966 0" />
    </joint>
  <link name="prop_frame_fuselage_0">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.0785398" />
      <inertia ixx="0.000157178" ixy="0" ixz="0" iyy="0.000157178" iyz="0" izz="0.000314159" />
      </inertial>
    <visual name="prop_frame_fuselage_0_visual_0">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.1" length="0.005" />
        </geometry>
      <material name="black" />
      </visual>
    <collision name="prop_frame_collision">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.2 0.2 0.005" />
        </geometry>
      </collision>
    </link>
  <link name="prop_camera_payload">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.05" />
      <inertia ixx="4.5e-06" ixy="0" ixz="0" iyy="4.5e-06" iyz="0" izz="4.5e-06" />
      </inertial>
    </link>
  <joint name="fixed_joint_prop_camera_payload" type="fixed">
    <parent link="prop_frame_fuselage_0" />
    <child link="prop_camera_payload" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>
  <joint name="fixed_joint_right_wing" type="fixed">
    <parent link="fuselage" />
    <child link="fuselage_right_0" />
    <origin xyz="-0.190275395835 0.05 -0.03" rpy="0 0 0" />
    </joint>
  <link name="fuselage_right_0">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.01" />
      <inertia ixx="3.22642e-07" ixy="0" ixz="0" iyy="3.22642e-07" iyz="0" izz="3.22642e-07" />
      </inertial>
    </link>
  <link name="fuselage_right_1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.01" />
      <inertia ixx="3.22642e-07" ixy="0" ixz="0" iyy="3.22642e-07" iyz="0" izz="3.22642e-07" />
      </inertial>
    </link>
  <joint name="joint_0_sweep_right_wing" type="revolute">
    <parent link="fuselage_right_0" />
    <child link="fuselage_right_1" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-0.213537" upper="0.213537" effort="2.45859" velocity="3.665191429" />
    <dynamics damping="0.2" friction="0.05" />
    </joint>
  <link name="right_wing_servo_sweep">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.04" />
      <inertia ixx="3.6e-06" ixy="0" ixz="0" iyy="3.6e-06" iyz="0" izz="3.6e-06" />
      </inertial>
    </link>
  <joint name="fixed_joint_right_wing_servo_sweep" type="fixed">
    <parent link="fuselage_right_0" />
    <child link="right_wing_servo_sweep" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>
  <joint name="joint_1_twist_right_wing" type="revolute">
    <parent link="fuselage_right_1" />
    <child link="right_wing" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-0.168092" upper="0.168092" effort="1.78473" velocity="3.665191429" />
    <dynamics damping="0.2" friction="0.05" />
    </joint>
  <link name="right_wing_servo_twist">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.03" />
      <inertia ixx="2.7e-06" ixy="0" ixz="0" iyy="2.7e-06" iyz="0" izz="2.7e-06" />
      </inertial>
    </link>
  <joint name="fixed_joint_right_wing_servo_twist" type="fixed">
    <parent link="fuselage_right_1" />
    <child link="right_wing_servo_twist" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>
  <link name="right_wing">
    <inertial>
      <origin xyz="0 -0.287716381762 0" rpy="0 0 0" />
      <mass value="0.0565014" />
      <inertia ixx="0.00114649" ixy="0" ixz="0" iyy="0.000936357" iyz="0" izz="0.000211958" />
      </inertial>
    <visual name="right_wing_visual">
      <origin xyz="0 0 0" rpy="3.141592653589793 3.141592653589793 0" />
      <geometry>
        <mesh filename="package://meshes/wing0009.stl" scale="0.2 0.575433 0.273338" />
        </geometry>
      <material name="red" />
      </visual>
    <collision name="right_wing_collision">
      <origin xyz="0.136660959233 0.287716381762 0" rpy="0 -1.5707963267948966 -1.5707963267948966" />
      <geometry>
        <box size="0.017962225 0.273321918465 0.575432763524" />
        </geometry>
      </collision>
    </link>
  <joint name="fixed_joint_aero_frame_right_wing" type="fixed">
    <parent link="right_wing" />
    <child link="aero_frame_right_wing" />
    <origin xyz="0 -0.287716381762 0" rpy="0 3.141592654 0" />
    </joint>
  <link name="aero_frame_right_wing">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
      </inertial>
    </link>
  <joint name="fixed_joint_left_wing" type="fixed">
    <parent link="fuselage" />
    <child link="fuselage_left_0" />
    <origin xyz="-0.190275395835 -0.05 -0.03" rpy="-0 0 0" />
    </joint>
  <link name="fuselage_left_0">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.01" />
      <inertia ixx="3.22642e-07" ixy="0" ixz="0" iyy="3.22642e-07" iyz="0" izz="3.22642e-07" />
      </inertial>
    </link>
  <link name="fuselage_left_1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.01" />
      <inertia ixx="3.22642e-07" ixy="0" ixz="0" iyy="3.22642e-07" iyz="0" izz="3.22642e-07" />
      </inertial>
    </link>
  <joint name="joint_0_sweep_left_wing" type="revolute">
    <parent link="fuselage_left_0" />
    <child link="fuselage_left_1" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-0.213537" upper="0.213537" effort="2.45859" velocity="3.665191429" />
    <dynamics damping="0.2" friction="0.05" />
    </joint>
  <link name="left_wing_servo_sweep">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.04" />
      <inertia ixx="3.6e-06" ixy="0" ixz="0" iyy="3.6e-06" iyz="0" izz="3.6e-06" />
      </inertial>
    </link>
  <joint name="fixed_joint_left_wing_servo_sweep" type="fixed">
    <parent link="fuselage_left_0" />
    <child link="left_wing_servo_sweep" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>
  <joint name="joint_1_twist_left_wing" type="revolute">
    <parent link="fuselage_left_1" />
    <child link="left_wing" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-0.168092" upper="0.168092" effort="1.78473" velocity="3.665191429" />
    <dynamics damping="0.2" friction="0.05" />
    </joint>
  <link name="left_wing_servo_twist">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.03" />
      <inertia ixx="2.7e-06" ixy="0" ixz="0" iyy="2.7e-06" iyz="0" izz="2.7e-06" />
      </inertial>
    </link>
  <joint name="fixed_joint_left_wing_servo_twist" type="fixed">
    <parent link="fuselage_left_1" />
    <child link="left_wing_servo_twist" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>
  <link name="left_wing">
    <inertial>
      <origin xyz="0 0.287716381762 0" rpy="0 0 0" />
      <mass value="0.0565014" />
      <inertia ixx="0.00114649" ixy="0" ixz="0" iyy="0.000936357" iyz="0" izz="0.000211958" />
      </inertial>
    <visual name="left_wing_visual">
      <origin xyz="0 0 0" rpy="0 3.141592653589793 0" />
      <geometry>
        <mesh filename="package://meshes/wing0009.stl" scale="0.2 0.575433 0.273338" />
        </geometry>
      <material name="red" />
      </visual>
    <collision name="left_wing_collision">
      <origin xyz="0.136660959233 -0.287716381762 0" rpy="0 -1.5707963267948966 -1.5707963267948966" />
      <geometry>
        <box size="0.017962225 0.273321918465 0.575432763524" />
        </geometry>
      </collision>
    </link>
  <joint name="fixed_joint_aero_frame_left_wing" type="fixed">
    <parent link="left_wing" />
    <child link="aero_frame_left_wing" />
    <origin xyz="0 0.287716381762 0" rpy="0 3.141592654 0" />
    </joint>
  <link name="aero_frame_left_wing">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
      </inertial>
    </link>
  <joint name="elevator_pitch_joint" type="revolute">
    <parent link="fuselage" />
    <child link="elevator_hinge" />
    <origin xyz="-0.512163223629 0 0" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-0.25" upper="0.25" effort="1.0" velocity="3.665191429" />
    <dynamics damping="0.2" friction="0.05" />
    </joint>
  <link name="elevator_servo">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.02" />
      <inertia ixx="1.8e-06" ixy="0" ixz="0" iyy="1.8e-06" iyz="0" izz="1.8e-06" />
      </inertial>
    </link>
  <joint name="fixed_joint_elevator_servo" type="fixed">
    <parent link="fuselage" />
    <child link="elevator_servo" />
    <origin xyz="-0.512163223629 0 0" rpy="0 0 0" />
    </joint>
  <link name="elevator_hinge">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.01" />
      <inertia ixx="0.000152949" ixy="0" ixz="0" iyy="1.38499e-05" iyz="0" izz="0.000166615" />
      </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://meshes/elevator.stl" scale="0.000829746 0.00184304 0.001" />
        </geometry>
      <material name="grey" />
      </visual>
    </link>
  <joint name="fixed_joint_elevator_left" type="fixed">
    <parent link="elevator_hinge" />
    <child link="elevator_left" />
    <origin xyz="0 0.276456734384 0" rpy="0 0 0" />
    </joint>
  <link name="elevator_left">
    <inertial>
      <origin xyz="0.0514226572186 0 0" rpy="0 0 0" />
      <mass value="0.0124339" />
      <inertia ixx="6.46215e-05" ixy="0" ixz="0" iyy="4.76292e-05" iyz="0" izz="1.72208e-05" />
      </inertial>
    <collision>
      <origin xyz="-0.0414698848537 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.0135567616 0.165879539415 0.276456734384" />
        </geometry>
      </collision>
    </link>
  <joint name="fixed_joint_aero_frame_elevator_left" type="fixed">
    <parent link="elevator_left" />
    <child link="aero_frame_elevator_left" />
    <origin xyz="-0.0414698848537 0 0" rpy="0 3.141592654 0" />
    </joint>
  <link name="aero_frame_elevator_left">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
      </inertial>
    </link>
  <joint name="fixed_joint_elevator_right" type="fixed">
    <parent link="elevator_hinge" />
    <child link="elevator_right" />
    <origin xyz="0 -0.276456734384 0" rpy="0 0 0" />
    </joint>
  <link name="elevator_right">
    <inertial>
      <origin xyz="0.0514226572186 0 0" rpy="0 0 0" />
      <mass value="0.0124339" />
      <inertia ixx="6.46215e-05" ixy="0" ixz="0" iyy="4.76292e-05" iyz="0" izz="1.72208e-05" />
      </inertial>
    <collision>
      <origin xyz="-0.0414698848537 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.0135567616 0.165879539415 0.276456734384" />
        </geometry>
      </collision>
    </link>
  <joint name="fixed_joint_aero_frame_elevator_right" type="fixed">
    <parent link="elevator_right" />
    <child link="aero_frame_elevator_right" />
    <origin xyz="-0.0414698848537 0 0" rpy="0 3.141592654 0" />
    </joint>
  <link name="aero_frame_elevator_right">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
      </inertial>
    </link>
  <joint name="rudder_yaw_joint" type="revolute">
    <parent link="elevator_hinge" />
    <child link="rudder" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-0.25" upper="0.25" effort="1.0" velocity="3.665191429" />
    <dynamics damping="0.2" friction="0.05" />
    </joint>
  <link name="rudder_servo">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.02" />
      <inertia ixx="1.8e-06" ixy="0" ixz="0" iyy="1.8e-06" iyz="0" izz="1.8e-06" />
      </inertial>
    </link>
  <joint name="fixed_joint_rudder_servo" type="fixed">
    <parent link="elevator_hinge" />
    <child link="rudder_servo" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>
  <link name="rudder">
    <inertial>
      <origin xyz="-0.0231750946539 0 -0.08" rpy="0 0 0" />
      <mass value="0.00368796" />
      <inertia ixx="7.1349e-06" ixy="0" ixz="0" iyy="6.13822e-06" iyz="0" izz="1.06446e-06" />
      </inertial>
    <collision name="rudder_collision_0">
      <origin xyz="-0.0186895924628 0 -0.104994470816" rpy="0 0 0" />
      <geometry>
        <box size="0.0135567616 0.0747583698512 0.181945241126" />
        </geometry>
      </collision>
    <visual name="rudder_visual_0">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://meshes/rudder.stl" scale="0.000501216 0.001 0.00111232" />
        </geometry>
      <material name="red" />
      </visual>
    </link>
  <joint name="fixed_joint_aero_frame_rudder" type="fixed">
    <parent link="rudder" />
    <child link="aero_frame_rudder" />
    <origin xyz="-0.0186895924628 0 -0.08" rpy="0 3.141592653589793 0" />
    </joint>
  <link name="aero_frame_rudder">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
      </inertial>
    </link>
  <!--[0.575433, 2.10533, 0.482163, 0.463468, 0.394629, 0.552913, 3.33322, 0.181945, 2.43378, 0, 3.27812, 2.97456, 0, 4, 21]-->
  </robot>
