<?xml version='1.0' encoding='utf-8'?>
<robot name="drone_param">
  <material name="grey">
    <color rgba="0.7 0.7 0.7 1.0" />
    </material>
  <material name="red">
    <color rgba="0.7 0.0 0.0 1.0" />
    </material>
  <material name="black">
    <color rgba="0.2 0.2 0.2 1.0" />
    </material>
  <link name="root_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
      </inertial>
    </link>
  <link name="fuselage">
    <inertial>
      <origin xyz="-0.197550005952 0 -0.04" rpy="0 0 0" />
      <mass value="0.376814" />
      <inertia ixx="0.00249626" ixy="0" ixz="0" iyy="0.00264632" iyz="0" izz="0.000393421" />
      </inertial>
    <collision name="fuselage_collision_0">
      <origin xyz="-0.302606866073 0 0.00245565348607" rpy="-1.5898372930676048 6.123233995736766e-17 -1.5707963267948968" />
      <geometry>
        <box size="0.1 0.104768037946 0.605213732146" />
        </geometry>
      </collision>
    <visual name="fuselage_visual_0">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://meshes/fuselage_only.stl" scale="0.000807075 0.001 0.001" />
        </geometry>
      <material name="grey" />
      </visual>
    </link>
  <joint name="fixed_joint_base_fuselage" type="fixed">
    <parent link="root_link" />
    <child link="fuselage" />
    <origin xyz="0 0 0" rpy="3.141592653589793 0 0" />
    </joint>
  <joint name="fixed_joint_aero_frame_fuselage" type="fixed">
    <parent link="fuselage" />
    <child link="aero_frame_fuselage" />
    <origin xyz="-0.197550005952 0 -0.03" rpy="0 3.141592653589793 0" />
    </joint>
  <link name="aero_frame_fuselage">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
      </inertial>
    </link>
  <joint name="fixed_joint_prop_frame_fuselage_0" type="fixed">
    <parent link="fuselage" />
    <child link="prop_frame_fuselage_0" />
    <origin xyz="0 0 0" rpy="3.141592653589793 -1.5707963267948966 0" />
    </joint>
  <link name="prop_frame_fuselage_0">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.0785398" />
      <inertia ixx="0.000157178" ixy="0" ixz="0" iyy="0.000157178" iyz="0" izz="0.000314159" />
      </inertial>
    <visual name="prop_frame_fuselage_0_visual_0">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.1" length="0.005" />
        </geometry>
      <material name="black" />
      </visual>
    <collision name="prop_frame_collision">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.2 0.2 0.005" />
        </geometry>
      </collision>
    </link>
  <link name="prop_camera_payload">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.05" />
      <inertia ixx="4.5e-06" ixy="0" ixz="0" iyy="4.5e-06" iyz="0" izz="4.5e-06" />
      </inertial>
    </link>
  <joint name="fixed_joint_prop_camera_payload" type="fixed">
    <parent link="prop_frame_fuselage_0" />
    <child link="prop_camera_payload" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>
  <joint name="fixed_joint_right_wing" type="fixed">
    <parent link="fuselage" />
    <child link="fuselage_right_0" />
    <origin xyz="-0.26833478426 0.05 -0.03" rpy="0 0 0" />
    </joint>
  <link name="fuselage_right_0">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.01" />
      <inertia ixx="3.22642e-07" ixy="0" ixz="0" iyy="3.22642e-07" iyz="0" izz="3.22642e-07" />
      </inertial>
    </link>
  <link name="fuselage_right_1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.01" />
      <inertia ixx="3.22642e-07" ixy="0" ixz="0" iyy="3.22642e-07" iyz="0" izz="3.22642e-07" />
      </inertial>
    </link>
  <joint name="joint_0_sweep_right_wing" type="revolute">
    <parent link="fuselage_right_0" />
    <child link="fuselage_right_1" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-0.316567" upper="0.316567" effort="1.65842" velocity="3.665191429" />
    <dynamics damping="0.2" friction="0.05" />
    </joint>
  <link name="right_wing_servo_sweep">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.04" />
      <inertia ixx="3.6e-06" ixy="0" ixz="0" iyy="3.6e-06" iyz="0" izz="3.6e-06" />
      </inertial>
    </link>
  <joint name="fixed_joint_right_wing_servo_sweep" type="fixed">
    <parent link="fuselage_right_0" />
    <child link="right_wing_servo_sweep" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>
  <joint name="joint_1_twist_right_wing" type="revolute">
    <parent link="fuselage_right_1" />
    <child link="right_wing" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-0.147891" upper="0.147891" effort="2.02852" velocity="3.665191429" />
    <dynamics damping="0.2" friction="0.05" />
    </joint>
  <link name="right_wing_servo_twist">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.03" />
      <inertia ixx="2.7e-06" ixy="0" ixz="0" iyy="2.7e-06" iyz="0" izz="2.7e-06" />
      </inertial>
    </link>
  <joint name="fixed_joint_right_wing_servo_twist" type="fixed">
    <parent link="fuselage_right_1" />
    <child link="right_wing_servo_twist" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>
  <link name="right_wing">
    <inertial>
      <origin xyz="0 -0.354578340888 0" rpy="0 0 0" />
      <mass value="0.0945217" />
      <inertia ixx="0.00302734" ixy="0" ixz="0" iyy="0.00237829" iyz="0" izz="0.000652104" />
      </inertial>
    <visual name="right_wing_visual">
      <origin xyz="0 0 0" rpy="3.141592653589793 3.141592653589793 0" />
      <geometry>
        <mesh filename="package://meshes/wing0009.stl" scale="0.2 0.709157 0.371044" />
        </geometry>
      <material name="red" />
      </visual>
    <collision name="right_wing_collision">
      <origin xyz="0.185510873613 0.354578340888 0" rpy="0 -1.5707963267948966 -1.5707963267948966" />
      <geometry>
        <box size="0.017962225 0.371021747226 0.709156681777" />
        </geometry>
      </collision>
    </link>
  <joint name="fixed_joint_aero_frame_right_wing" type="fixed">
    <parent link="right_wing" />
    <child link="aero_frame_right_wing" />
    <origin xyz="0 -0.354578340888 0" rpy="0 3.141592654 0" />
    </joint>
  <link name="aero_frame_right_wing">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
      </inertial>
    </link>
  <joint name="fixed_joint_left_wing" type="fixed">
    <parent link="fuselage" />
    <child link="fuselage_left_0" />
    <origin xyz="-0.26833478426 -0.05 -0.03" rpy="-0 0 0" />
    </joint>
  <link name="fuselage_left_0">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.01" />
      <inertia ixx="3.22642e-07" ixy="0" ixz="0" iyy="3.22642e-07" iyz="0" izz="3.22642e-07" />
      </inertial>
    </link>
  <link name="fuselage_left_1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.01" />
      <inertia ixx="3.22642e-07" ixy="0" ixz="0" iyy="3.22642e-07" iyz="0" izz="3.22642e-07" />
      </inertial>
    </link>
  <joint name="joint_0_sweep_left_wing" type="revolute">
    <parent link="fuselage_left_0" />
    <child link="fuselage_left_1" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-0.316567" upper="0.316567" effort="1.65842" velocity="3.665191429" />
    <dynamics damping="0.2" friction="0.05" />
    </joint>
  <link name="left_wing_servo_sweep">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.04" />
      <inertia ixx="3.6e-06" ixy="0" ixz="0" iyy="3.6e-06" iyz="0" izz="3.6e-06" />
      </inertial>
    </link>
  <joint name="fixed_joint_left_wing_servo_sweep" type="fixed">
    <parent link="fuselage_left_0" />
    <child link="left_wing_servo_sweep" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>
  <joint name="joint_1_twist_left_wing" type="revolute">
    <parent link="fuselage_left_1" />
    <child link="left_wing" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-0.147891" upper="0.147891" effort="2.02852" velocity="3.665191429" />
    <dynamics damping="0.2" friction="0.05" />
    </joint>
  <link name="left_wing_servo_twist">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.03" />
      <inertia ixx="2.7e-06" ixy="0" ixz="0" iyy="2.7e-06" iyz="0" izz="2.7e-06" />
      </inertial>
    </link>
  <joint name="fixed_joint_left_wing_servo_twist" type="fixed">
    <parent link="fuselage_left_1" />
    <child link="left_wing_servo_twist" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>
  <link name="left_wing">
    <inertial>
      <origin xyz="0 0.354578340888 0" rpy="0 0 0" />
      <mass value="0.0945217" />
      <inertia ixx="0.00302734" ixy="0" ixz="0" iyy="0.00237829" iyz="0" izz="0.000652104" />
      </inertial>
    <visual name="left_wing_visual">
      <origin xyz="0 0 0" rpy="0 3.141592653589793 0" />
      <geometry>
        <mesh filename="package://meshes/wing0009.stl" scale="0.2 0.709157 0.371044" />
        </geometry>
      <material name="red" />
      </visual>
    <collision name="left_wing_collision">
      <origin xyz="0.185510873613 -0.354578340888 0" rpy="0 -1.5707963267948966 -1.5707963267948966" />
      <geometry>
        <box size="0.017962225 0.371021747226 0.709156681777" />
        </geometry>
      </collision>
    </link>
  <joint name="fixed_joint_aero_frame_left_wing" type="fixed">
    <parent link="left_wing" />
    <child link="aero_frame_left_wing" />
    <origin xyz="0 0.354578340888 0" rpy="0 3.141592654 0" />
    </joint>
  <link name="aero_frame_left_wing">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
      </inertial>
    </link>
  <joint name="elevator_pitch_joint" type="revolute">
    <parent link="fuselage" />
    <child link="elevator_hinge" />
    <origin xyz="-0.635213732146 0 0" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-0.25" upper="0.25" effort="1.0" velocity="3.665191429" />
    <dynamics damping="0.2" friction="0.05" />
    </joint>
  <link name="elevator_servo">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.02" />
      <inertia ixx="1.8e-06" ixy="0" ixz="0" iyy="1.8e-06" iyz="0" izz="1.8e-06" />
      </inertial>
    </link>
  <joint name="fixed_joint_elevator_servo" type="fixed">
    <parent link="fuselage" />
    <child link="elevator_servo" />
    <origin xyz="-0.635213732146 0 0" rpy="0 0 0" />
    </joint>
  <link name="elevator_hinge">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.01" />
      <inertia ixx="6.43257e-05" ixy="0" ixz="0" iyy="7.65879e-06" iyz="0" izz="7.18007e-05" />
      </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://meshes/elevator.stl" scale="0.000615356 0.00119475 0.001" />
        </geometry>
      <material name="grey" />
      </visual>
    </link>
  <joint name="fixed_joint_elevator_left" type="fixed">
    <parent link="elevator_hinge" />
    <child link="elevator_left" />
    <origin xyz="0 0.179211940561 0" rpy="0 0 0" />
    </joint>
  <link name="elevator_left">
    <inertial>
      <origin xyz="0.0381360464297 0 0" rpy="0 0 0" />
      <mass value="0.0059776" />
      <inertia ixx="1.41223e-05" ixy="0" ixz="0" iyy="9.65404e-06" iyz="0" izz="4.57812e-06" />
      </inertial>
    <collision>
      <origin xyz="-0.030754876153 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.0135567616 0.123019504612 0.179211940561" />
        </geometry>
      </collision>
    </link>
  <joint name="fixed_joint_aero_frame_elevator_left" type="fixed">
    <parent link="elevator_left" />
    <child link="aero_frame_elevator_left" />
    <origin xyz="-0.030754876153 0 0" rpy="0 3.141592654 0" />
    </joint>
  <link name="aero_frame_elevator_left">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
      </inertial>
    </link>
  <joint name="fixed_joint_elevator_right" type="fixed">
    <parent link="elevator_hinge" />
    <child link="elevator_right" />
    <origin xyz="0 -0.179211940561 0" rpy="0 0 0" />
    </joint>
  <link name="elevator_right">
    <inertial>
      <origin xyz="0.0381360464297 0 0" rpy="0 0 0" />
      <mass value="0.0059776" />
      <inertia ixx="1.41223e-05" ixy="0" ixz="0" iyy="9.65404e-06" iyz="0" izz="4.57812e-06" />
      </inertial>
    <collision>
      <origin xyz="-0.030754876153 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.0135567616 0.123019504612 0.179211940561" />
        </geometry>
      </collision>
    </link>
  <joint name="fixed_joint_aero_frame_elevator_right" type="fixed">
    <parent link="elevator_right" />
    <child link="aero_frame_elevator_right" />
    <origin xyz="-0.030754876153 0 0" rpy="0 3.141592654 0" />
    </joint>
  <link name="aero_frame_elevator_right">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
      </inertial>
    </link>
  <joint name="rudder_yaw_joint" type="revolute">
    <parent link="elevator_hinge" />
    <child link="rudder" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-0.25" upper="0.25" effort="1.0" velocity="3.665191429" />
    <dynamics damping="0.2" friction="0.05" />
    </joint>
  <link name="rudder_servo">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.02" />
      <inertia ixx="1.8e-06" ixy="0" ixz="0" iyy="1.8e-06" iyz="0" izz="1.8e-06" />
      </inertial>
    </link>
  <joint name="fixed_joint_rudder_servo" type="fixed">
    <parent link="elevator_hinge" />
    <child link="rudder_servo" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>
  <link name="rudder">
    <inertial>
      <origin xyz="-0.02275007171 0 -0.08" rpy="0 0 0" />
      <mass value="0.00271917" />
      <inertia ixx="3.27123e-06" ixy="0" ixz="0" iyy="2.56399e-06" iyz="0" izz="7.57218e-07" />
      </inertial>
    <collision name="rudder_collision_0">
      <origin xyz="-0.0183468320242 0 -0.104994470816" rpy="0 0 0" />
      <geometry>
        <box size="0.0135567616 0.0733873280968 0.136655967243" />
        </geometry>
      </collision>
    <visual name="rudder_visual_0">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://meshes/rudder.stl" scale="0.000492024 0.001 0.000835441" />
        </geometry>
      <material name="red" />
      </visual>
    </link>
  <joint name="fixed_joint_aero_frame_rudder" type="fixed">
    <parent link="rudder" />
    <child link="aero_frame_rudder" />
    <origin xyz="-0.0183468320242 0 -0.08" rpy="0 3.141592653589793 0" />
    </joint>
  <link name="aero_frame_rudder">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
      </inertial>
    </link>
  <!--[0.709157, 1.91136, 0.605214, 0.326414, 0.443372, 0.358424, 2.91355, 0.136656, 1.86212, 0, 2.21123, 3.38086, 3, 4, 21]-->
  </robot>
