<?xml version='1.0' encoding='utf-8'?>
<robot name="drone_param">
  <material name="grey">
    <color rgba="0.7 0.7 0.7 1.0" />
    </material>
  <material name="red">
    <color rgba="0.7 0.0 0.0 1.0" />
    </material>
  <material name="black">
    <color rgba="0.2 0.2 0.2 1.0" />
    </material>
  <link name="root_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
      </inertial>
    </link>
  <link name="fuselage">
    <inertial>
      <origin xyz="-0.252956224623 0 -0.04" rpy="0 0 0" />
      <mass value="0.371643" />
      <inertia ixx="0.00222072" ixy="0" ixz="0" iyy="0.00237103" iyz="0" izz="0.000387998" />
      </inertial>
    <collision name="fuselage_collision_0">
      <origin xyz="-0.2902665 0 0.00245565348607" rpy="-1.5898372930676048 6.123233995736766e-17 -1.5707963267948968" />
      <geometry>
        <box size="0.025 0.0261920094864 0.14513325" />
        </geometry>
      </collision>
    <visual name="fuselage_visual_0">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://meshes/fuselage_only.stl" scale="0.000774162 0.001 0.001" />
        </geometry>
      <material name="grey" />
      </visual>
    </link>
  <joint name="fixed_joint_base_fuselage" type="fixed">
    <parent link="root_link" />
    <child link="fuselage" />
    <origin xyz="0 0 0" rpy="3.141592653589793 0 0" />
    </joint>
  <joint name="fixed_joint_aero_frame_fuselage" type="fixed">
    <parent link="fuselage" />
    <child link="aero_frame_fuselage" />
    <origin xyz="-0.252956224623 0 -0.03" rpy="0 3.141592653589793 0" />
    </joint>
  <link name="aero_frame_fuselage">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
      </inertial>
    </link>
  <joint name="fixed_joint_prop_frame_fuselage_0" type="fixed">
    <parent link="fuselage" />
    <child link="prop_frame_fuselage_0" />
    <origin xyz="0 0 0" rpy="3.141592653589793 -1.5707963267948966 0" />
    </joint>
  <link name="prop_frame_fuselage_0">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.0785398" />
      <inertia ixx="0.000157178" ixy="0" ixz="0" iyy="0.000157178" iyz="0" izz="0.000314159" />
      </inertial>
    <visual name="prop_frame_fuselage_0_visual_0">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.1" length="0.005" />
        </geometry>
      <material name="black" />
      </visual>
    <collision name="prop_frame_collision">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.2 0.2 0.005" />
        </geometry>
      </collision>
    </link>
  <joint name="fixed_joint_right_wing" type="fixed">
    <parent link="fuselage" />
    <child link="fuselage_right_0" />
    <origin xyz="-0.234193978596 0.05 -0.03" rpy="0.020367468772 0 3.141592653589793" />
    </joint>
  <link name="fuselage_right_0">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.01" />
      <inertia ixx="3.22642e-07" ixy="0" ixz="0" iyy="3.22642e-07" iyz="0" izz="3.22642e-07" />
      </inertial>
    </link>
  <link name="fuselage_right_1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.01" />
      <inertia ixx="3.22642e-07" ixy="0" ixz="0" iyy="3.22642e-07" iyz="0" izz="3.22642e-07" />
      </inertial>
    </link>
  <joint name="joint_0_sweep_right_wing" type="revolute">
    <parent link="fuselage_right_0" />
    <child link="fuselage_right_1" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-0.218467" upper="0.218467" effort="2.40311" velocity="3.665191429" />
    <dynamics damping="0.2" friction="0.05" />
    </joint>
  <link name="right_wing_servo_sweep">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.04" />
      <inertia ixx="3.6e-06" ixy="0" ixz="0" iyy="3.6e-06" iyz="0" izz="3.6e-06" />
      </inertial>
    </link>
  <joint name="fixed_joint_right_wing_servo_sweep" type="fixed">
    <parent link="fuselage_right_0" />
    <child link="right_wing_servo_sweep" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>
  <joint name="joint_1_twist_right_wing" type="revolute">
    <parent link="fuselage_right_1" />
    <child link="right_wing" />
    <origin xyz="0 -0.05 0" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-0.209376" upper="0.209376" effort="1.43283" velocity="3.665191429" />
    <dynamics damping="0.2" friction="0.05" />
    </joint>
  <link name="right_wing_servo_twist">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.03" />
      <inertia ixx="2.7e-06" ixy="0" ixz="0" iyy="2.7e-06" iyz="0" izz="2.7e-06" />
      </inertial>
    </link>
  <joint name="fixed_joint_right_wing_servo_twist" type="fixed">
    <parent link="fuselage_right_1" />
    <child link="right_wing_servo_twist" />
    <origin xyz="0 -0.05 0" rpy="0 0 0" />
    </joint>
  <link name="right_wing">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.01" />
      <inertia ixx="0.000216585" ixy="0" ixz="0" iyy="0.0001937" iyz="0" izz="2.32074e-05" />
      </inertial>
    <visual name="right_wing_visual">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://meshes/wing0009.stl" scale="0.2 0.622155 0.214704" />
        </geometry>
      <material name="red" />
      </visual>
    </link>
  <joint name="fixed_joint_right_wing_prop" type="fixed">
    <parent link="right_wing" />
    <child link="right_wing_prop" />
    <origin xyz="0 -0.025 0" rpy="0 0 0" />
    </joint>
  <link name="right_wing_prop">
    <inertial>
      <origin xyz="0.0128814559458 0 0" rpy="0 0 0" />
      <mass value="0.00385633" />
      <inertia ixx="9.36937e-06" ixy="0" ixz="0" iyy="5.44251e-07" iyz="0" izz="8.94954e-06" />
      </inertial>
    <collision name="right_wing_prop_collision">
      <origin xyz="0.0536727331077 0 -0.000421042" rpy="1.570796327 -1.558922022 0" />
      <geometry>
        <box size="0.017962225 0.214690932431 0.05" />
        </geometry>
      </collision>
    </link>
  <joint name="fixed_joint_aero_frame_right_wing_prop" type="fixed">
    <parent link="right_wing_prop" />
    <child link="aero_frame_right_wing_prop" />
    <origin xyz="0.0128814559458 0 0" rpy="3.141592654 0 0" />
    </joint>
  <link name="aero_frame_right_wing_prop">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
      </inertial>
    </link>
  <joint name="fixed_joint_right_wing_free" type="fixed">
    <parent link="right_wing" />
    <child link="right_wing_free" />
    <origin xyz="0 -0.3360775 0" rpy="0 0 0" />
    </joint>
  <link name="right_wing_free">
    <inertial>
      <origin xyz="0.0128814559458 0 0" rpy="0 0 0" />
      <mass value="0.0441283" />
      <inertia ixx="0.000823994" ixy="0" ixz="0" iyy="0.000723007" iyz="0" izz="0.00010241" />
      </inertial>
    <collision name="right_wing_free_collision">
      <origin xyz="0.0536727331077 0 -0.000421042" rpy="1.570796327 -1.558922022 0" />
      <geometry>
        <box size="0.017962225 0.214690932431 0.572155" />
        </geometry>
      </collision>
    </link>
  <joint name="fixed_joint_aero_frame_right_wing_free" type="fixed">
    <parent link="right_wing_free" />
    <child link="aero_frame_right_wing_free" />
    <origin xyz="0.0128814559458 0 0" rpy="3.141592654 0 0" />
    </joint>
  <link name="aero_frame_right_wing_free">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
      </inertial>
    </link>
  <joint name="fixed_joint_left_wing" type="fixed">
    <parent link="fuselage" />
    <child link="fuselage_left_0" />
    <origin xyz="-0.234193978596 -0.05 -0.03" rpy="-0.020367468772 0 3.141592653589793" />
    </joint>
  <link name="fuselage_left_0">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.01" />
      <inertia ixx="3.22642e-07" ixy="0" ixz="0" iyy="3.22642e-07" iyz="0" izz="3.22642e-07" />
      </inertial>
    </link>
  <link name="fuselage_left_1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.01" />
      <inertia ixx="3.22642e-07" ixy="0" ixz="0" iyy="3.22642e-07" iyz="0" izz="3.22642e-07" />
      </inertial>
    </link>
  <joint name="joint_0_sweep_left_wing" type="revolute">
    <parent link="fuselage_left_0" />
    <child link="fuselage_left_1" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-0.218467" upper="0.218467" effort="2.40311" velocity="3.665191429" />
    <dynamics damping="0.2" friction="0.05" />
    </joint>
  <link name="left_wing_servo_sweep">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.04" />
      <inertia ixx="3.6e-06" ixy="0" ixz="0" iyy="3.6e-06" iyz="0" izz="3.6e-06" />
      </inertial>
    </link>
  <joint name="fixed_joint_left_wing_servo_sweep" type="fixed">
    <parent link="fuselage_left_0" />
    <child link="left_wing_servo_sweep" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>
  <joint name="joint_1_twist_left_wing" type="revolute">
    <parent link="fuselage_left_1" />
    <child link="left_wing" />
    <origin xyz="0 0.05 0" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-0.209376" upper="0.209376" effort="1.43283" velocity="3.665191429" />
    <dynamics damping="0.2" friction="0.05" />
    </joint>
  <link name="left_wing_servo_twist">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.03" />
      <inertia ixx="2.7e-06" ixy="0" ixz="0" iyy="2.7e-06" iyz="0" izz="2.7e-06" />
      </inertial>
    </link>
  <joint name="fixed_joint_left_wing_servo_twist" type="fixed">
    <parent link="fuselage_left_1" />
    <child link="left_wing_servo_twist" />
    <origin xyz="0 0.05 0" rpy="0 0 0" />
    </joint>
  <link name="left_wing">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.01" />
      <inertia ixx="0.000216585" ixy="0" ixz="0" iyy="0.0001937" iyz="0" izz="2.32074e-05" />
      </inertial>
    <visual name="left_wing_visual">
      <origin xyz="0 0 0" rpy="3.141592654 0 0" />
      <geometry>
        <mesh filename="package://meshes/wing0009.stl" scale="0.2 0.622155 0.214704" />
        </geometry>
      <material name="red" />
      </visual>
    </link>
  <joint name="fixed_joint_left_wing_prop" type="fixed">
    <parent link="left_wing" />
    <child link="left_wing_prop" />
    <origin xyz="0 0.025 0" rpy="0 0 0" />
    </joint>
  <link name="left_wing_prop">
    <inertial>
      <origin xyz="0.0128814559458 0 0" rpy="0 0 0" />
      <mass value="0.00385633" />
      <inertia ixx="9.36937e-06" ixy="0" ixz="0" iyy="5.44251e-07" iyz="0" izz="8.94954e-06" />
      </inertial>
    <collision name="left_wing_prop_collision">
      <origin xyz="0.0536727331077 0 -0.000421042" rpy="1.570796327 -1.558922022 0" />
      <geometry>
        <box size="0.017962225 0.214690932431 0.05" />
        </geometry>
      </collision>
    </link>
  <joint name="fixed_joint_aero_frame_left_wing_prop" type="fixed">
    <parent link="left_wing_prop" />
    <child link="aero_frame_left_wing_prop" />
    <origin xyz="0.0128814559458 0 0" rpy="3.141592654 0 0" />
    </joint>
  <link name="aero_frame_left_wing_prop">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
      </inertial>
    </link>
  <joint name="fixed_joint_left_wing_free" type="fixed">
    <parent link="left_wing" />
    <child link="left_wing_free" />
    <origin xyz="0 0.3360775 0" rpy="0 0 0" />
    </joint>
  <link name="left_wing_free">
    <inertial>
      <origin xyz="0.0128814559458 0 0" rpy="0 0 0" />
      <mass value="0.0441283" />
      <inertia ixx="0.000823994" ixy="0" ixz="0" iyy="0.000723007" iyz="0" izz="0.00010241" />
      </inertial>
    <collision name="left_wing_free_collision">
      <origin xyz="0.0536727331077 0 -0.000421042" rpy="1.570796327 -1.558922022 0" />
      <geometry>
        <box size="0.017962225 0.214690932431 0.572155" />
        </geometry>
      </collision>
    </link>
  <joint name="fixed_joint_aero_frame_left_wing_free" type="fixed">
    <parent link="left_wing_free" />
    <child link="aero_frame_left_wing_free" />
    <origin xyz="0.0128814559458 0 0" rpy="3.141592654 0 0" />
    </joint>
  <link name="aero_frame_left_wing_free">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
      </inertial>
    </link>
  <joint name="elevator_pitch_joint" type="revolute">
    <parent link="fuselage" />
    <child link="elevator_hinge" />
    <origin xyz="-0.610533 0 0" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-0.25" upper="0.25" effort="1.0" velocity="3.665191429" />
    <dynamics damping="0.2" friction="0.05" />
    </joint>
  <link name="elevator_servo">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.02" />
      <inertia ixx="1.8e-06" ixy="0" ixz="0" iyy="1.8e-06" iyz="0" izz="1.8e-06" />
      </inertial>
    </link>
  <joint name="fixed_joint_elevator_servo" type="fixed">
    <parent link="fuselage" />
    <child link="elevator_servo" />
    <origin xyz="-0.610533 0 0" rpy="0 0 0" />
    </joint>
  <link name="elevator_hinge">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.01" />
      <inertia ixx="2.02978e-05" ixy="0" ixz="0" iyy="9.54194e-07" iyz="0" izz="2.10682e-05" />
      </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://meshes/elevator.stl" scale="0.000207729 0.00067009 0.001" />
        </geometry>
      <material name="grey" />
      </visual>
    </link>
  <joint name="fixed_joint_elevator_left" type="fixed">
    <parent link="elevator_hinge" />
    <child link="elevator_left" />
    <origin xyz="0 0.1005135 0" rpy="0 0 0" />
    </joint>
  <link name="elevator_left">
    <inertial>
      <origin xyz="0.012873781173 0 0" rpy="0 0 0" />
      <mass value="0.00113176" />
      <inertia ixx="5.82107e-07" ixy="0" ixz="0" iyy="1.07992e-07" iyz="0" izz="6.69299e-07" />
      </inertial>
    <collision>
      <origin xyz="-0.0103820815912 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.0415283263647 0.1005135 0.0135567616" />
        </geometry>
      </collision>
    </link>
  <joint name="fixed_joint_aero_frame_elevator_left" type="fixed">
    <parent link="elevator_left" />
    <child link="aero_frame_elevator_left" />
    <origin xyz="-0.012873781173 0 0" rpy="0 3.141592654 0" />
    </joint>
  <link name="aero_frame_elevator_left">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
      </inertial>
    </link>
  <joint name="fixed_joint_elevator_right" type="fixed">
    <parent link="elevator_hinge" />
    <child link="elevator_right" />
    <origin xyz="0 -0.1005135 0" rpy="0 0 0" />
    </joint>
  <link name="elevator_right">
    <inertial>
      <origin xyz="0.012873781173 0 0" rpy="0 0 0" />
      <mass value="0.00113176" />
      <inertia ixx="5.82107e-07" ixy="0" ixz="0" iyy="1.07992e-07" iyz="0" izz="6.69299e-07" />
      </inertial>
    <collision>
      <origin xyz="-0.0103820815912 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.0415283263647 0.1005135 0.0135567616" />
        </geometry>
      </collision>
    </link>
  <joint name="fixed_joint_aero_frame_elevator_right" type="fixed">
    <parent link="elevator_right" />
    <child link="aero_frame_elevator_right" />
    <origin xyz="-0.012873781173 0 0" rpy="0 3.141592654 0" />
    </joint>
  <link name="aero_frame_elevator_right">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
      </inertial>
    </link>
  <joint name="rudder_yaw_joint" type="revolute">
    <parent link="elevator_hinge" />
    <child link="rudder" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-0.25" upper="0.25" effort="1.0" velocity="3.665191429" />
    <dynamics damping="0.2" friction="0.05" />
    </joint>
  <link name="rudder_servo">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.02" />
      <inertia ixx="1.8e-06" ixy="0" ixz="0" iyy="1.8e-06" iyz="0" izz="1.8e-06" />
      </inertial>
    </link>
  <joint name="fixed_joint_rudder_servo" type="fixed">
    <parent link="elevator_hinge" />
    <child link="rudder_servo" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>
  <link name="rudder">
    <inertial>
      <origin xyz="-0.023544489775 0 -0.08" rpy="0 0 0" />
      <mass value="0.00488401" />
      <inertia ixx="1.37813e-05" ixy="0" ixz="0" iyy="1.51451e-05" iyz="0" izz="1.45353e-06" />
      </inertial>
    <collision name="rudder_collision_0">
      <origin xyz="-0.018987491754 0 -0.104994470816" rpy="0 0 0" />
      <geometry>
        <box size="0.0759499670161 0.0135567616 0.237172" />
        </geometry>
      </collision>
    <visual name="rudder_visual_0">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://meshes/rudder.stl" scale="0.000509205 0.001 0.00144994" />
        </geometry>
      <material name="red" />
      </visual>
    </link>
  <joint name="fixed_joint_aero_frame_rudder" type="fixed">
    <parent link="rudder" />
    <child link="aero_frame_rudder" />
    <origin xyz="-0.023544489775 0 -0.08" rpy="0 3.141592653589793 0" />
    </joint>
  <link name="aero_frame_rudder">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
      </inertial>
    </link>
  <!--[0.622155, 2.89791, 0.580533, 0.435731, 0.403412, 0.201027, 4.84072, 0.237172, 3.12274, 1.16697, 0.25, 3.20414, 2.38805, 2, -0.353647]-->
  </robot>
